In [6]:
import DBcm
db_details = "CoachDB.sqlite3"
from queries_proj import SQL_SESSIONS, SQL_SWIMMERS_BY_SESSION

print(SQL_SESSIONS)

    select distinct ts from times

In [7]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SESSIONS)
    results = db.fetchall()
results

[('2024-02-01 06:40:31',),
 ('2024-02-01 06:40:32',),
 ('2024-02-01 06:40:33',),
 ('2024-02-03 18:53:53',)]

In [8]:
print(SQL_SWIMMERS_BY_SESSION)

    select distinct swimmers.name, swimmers.age
    from times, swimmers
    where date(times.ts) = ? and
    times.swimmer_id = swimmers.id
    order by name

In [9]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_BY_SESSION, ("2024-02-03",))
    results = db.fetchall()
results

[('Abi', 10),
 ('Blake', 15),
 ('Darius', 13),
 ('Darius', 8),
 ('Dave', 17),
 ('Katie', 9),
 ('Maria', 9),
 ('Owen', 15)]

In [10]:
from queries_proj import SQL_SWIMMERS_EVENTS_BY_SESSION 
print(SQL_SWIMMERS_EVENTS_BY_SESSION)

    select distinct events.distance, events.stroke
    from swimmers, events, times
    where times.swimmer_id = swimmers.id and
    times.event_id = events.id and
    (swimmers.name = ? and swimmers.age = ?) and
    date(times.ts) = ?

In [14]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_EVENTS_BY_SESSION, ("Darius",13,"2024-02-03",))
    results = db.fetchall()
results

[('100m', 'Back'), ('100m', 'Breast'), ('100m', 'Fly'), ('200m', 'IM')]

In [13]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SWIMMERS_EVENTS_BY_SESSION, ("Darius",8,"2024-02-03",))
    results = db.fetchall()
results

[('50m', 'Back'), ('50m', 'Breast'), ('50m', 'Free')]